
		  <div class="col-md-10">

	  			<div class="row">
	  				<div class="col-md-8">
	  					<div class="content-box-large">
			  				<div class="panel-heading">
					            <div class="panel-title">Add place</div>
					     
					        </div>

			  				<div class="panel-body">
			  					<form class="form-horizontal" enctype="multipart/form-data" role="form" action="../../controllers/admin_controller.php" method="post">
								  <div class="form-group">
								    <label class="col-sm-2 control-label">Name</label>
								    <div class="col-sm-10">
								      <input type="text" class="form-control" name="placename" placeholder="Name">
								    </div>
								  </div>
								  <div class="form-group">
								    <label  class="col-sm-2 control-label">Image</label>
								    <div class="col-sm-10">
								      <input type="file" name="placeimg">
								    </div>
								  </div>
								  <div class="form-group">
								    <label class="col-sm-2 control-label">Textarea</label>
								    <div class="col-sm-10">
								      <textarea class="form-control" placeholder="Text" rows="3" name="desc"></textarea>
								    </div>
								  </div>
								  
								  <div class="form-group">
								    <div class="col-sm-offset-2 col-sm-10">
								      <input type="submit" class="btn btn-primary" value="Add" name="add">
								    </div>
								  </div>
								</form>
			  				</div>
			  			</div>
	  				</div>
	  				</div>
	  				</div>
	  				</div>
	  				
