<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

<!--<h1>My Web Page</h1>-->
<!--<div id="div1" class="col-sm-8">-->
    <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->

    <!--<div id="piechart"></div>-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->




<!--<script type="text/javascript">-->
    <!--// Load google charts-->
    <!--google.charts.load('current', {'packages':['corechart']});-->
    <!--google.charts.setOnLoadCallback(drawChart);-->

    <!--// Draw the chart and set the chart values-->
    <!--function drawChart() {-->
        <!--var data = google.visualization.arrayToDataTable([-->
            <!--['Task', 'Hours per Day'],-->
            <!--['Male', 8],-->
            <!--['Female', 2]-->

        <!--]);-->

        <!--// Optional; add a title and set the width and height of the chart-->
       <!--var options = { 'width':550, 'height':400};-->

        <!--// Display the chart inside the <div> element with id="piechart"-->
        <!--var chart = new google.visualization.PieChart(document.getElementById('piechart'));-->
        <!--chart.draw(data, options);-->
    <!--}-->
<!--</script>-->




<!--<div id="div1" class="col-sm-8">-->
            <!--<div class="panel-heading">-->


<!--<div class="content-box-large">-->
  				<!--<div class="panel-body">-->


  					<!--<div class="row">-->

  						<!--<div class="col-md-3">-->

							<!--<p>AGE</p>-->
  							<!--<div id="hero-donut" style="height: 230px;"></div>-->
  						<!--</div>-->
						<!--<div class="col-md-3"></div>-->
  						<!--<div class="col-md-3">-->
							<!--<p>GENDER</p>-->
  							<!--<div id="hero-donut2" style="height: 230px;"></div>-->
  						<!--</div>-->
  					<!--</div>-->
  				<!--</div>-->
<!--</div>-->
 <!--</div>-->
        <!--</div>-->







<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!-- jQuery UI -->
    <!--<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->

    <!--<link rel="stylesheet" href="vendors/morris/morris.css">-->


    <!--<script src="vendors/jquery.knob.js"></script>-->
    <!--<script src="vendors/raphael-min.js"></script>-->
    <!--<script src="vendors/morris/morris.min.js"></script>-->

    <!--<script src="vendors/flot/jquery.flot.js"></script>-->
    <!--<script src="vendors/flot/jquery.flot.categories.js"></script>-->
    <!--<script src="vendors/flot/jquery.flot.pie.js"></script>-->
    <!--<script src="vendors/flot/jquery.flot.time.js"></script>-->
    <!--<script src="vendors/flot/jquery.flot.stack.js"></script>-->
    <!--<script src="vendors/flot/jquery.flot.resize.js"></script>-->

    <!--<script src="js/custom.js"></script>-->
    <!--<script src="js/stats.js"></script>-->
<!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
<!--<div  class="col-sm-8">-->


    <!--<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->

    <!--</div>-->
<!--<script>-->
    <!--$(function () {-->
        <!--$('#container').highcharts({-->
            <!--chart: {-->
                <!--type: 'column'-->
            <!--},-->
            <!--title: {-->
                <!--text: 'Monthly Average Rainfall'-->
            <!--},-->
            <!--subtitle: {-->
                <!--text: 'Source: WorldClimate.com'-->
            <!--},-->
            <!--xAxis: {-->
                <!--categories: [-->
                    <!--'Jan',-->
                    <!--'Feb',-->
                    <!--'Mar',-->
                    <!--'Apr',-->
                    <!--'May',-->
                    <!--'Jun',-->
                    <!--'Jul',-->
                    <!--'Aug',-->
                    <!--'Sep',-->
                    <!--'Oct',-->
                    <!--'Nov',-->
                    <!--'Dec'-->
                <!--]-->
            <!--},-->
            <!--yAxis: {-->
                <!--min: 0,-->
                <!--title: {-->
                    <!--text: 'Rainfall (mm)'-->
                <!--}-->
            <!--},-->
            <!--tooltip: {-->
                <!--headerFormat: '<span style="font-size:10px">{point.key}</span><table>',-->
                <!--pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +-->
                <!--'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',-->
                <!--footerFormat: '</table>',-->
                <!--shared: true,-->
                <!--useHTML: true-->
            <!--},-->
            <!--plotOptions: {-->
                <!--column: {-->
                    <!--pointPadding: 0.2,-->
                    <!--borderWidth: 0-->
                <!--}-->
            <!--},-->
            <!--series: [{-->
                <!--name: 'Tokyo',-->
                <!--data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]-->

            <!--}, {-->
                <!--name: 'New York',-->
                <!--data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]-->

            <!--}, {-->
                <!--name: 'London',-->
                <!--data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]-->

            <!--}, {-->
                <!--name: 'Berlin',-->
                <!--data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]-->

            <!--}]-->
        <!--});-->
    <!--});-->
<!--</script>-->


<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var totalVisitors = 883000;
            var visitorsData = {
                "New vs Returning Visitors": [{
                    click: visitorsChartDrilldownHandler,
                    cursor: "pointer",
                    explodeOnClick: false,
                    innerRadius: "75%",
                    legendMarkerType: "square",
                    name: "New vs Returning Visitors",
                    radius: "100%",
                    showInLegend: true,
                    startAngle: 90,
                    type: "doughnut",
                    dataPoints: [
                        { y: 519960, name: "New Visitors", color: "#E7823A" },
                        { y: 363040, name: "Returning Visitors", color: "#546BC1" }
                    ]
                }],
                "New Visitors": [{
                    color: "#E7823A",
                    name: "New Visitors",
                    type: "column",
                    xValueFormatString: "MMM YYYY",
                    dataPoints: [
                        { x: new Date("1 Jan 2015"), y: 33000 },
                        { x: new Date("1 Feb 2015"), y: 35960 },
                        { x: new Date("1 Mar 2015"), y: 42160 },
                        { x: new Date("1 Apr 2015"), y: 42240 },
                        { x: new Date("1 May 2015"), y: 43200 },
                        { x: new Date("1 Jun 2015"), y: 40600 },
                        { x: new Date("1 Jul 2015"), y: 42560 },
                        { x: new Date("1 Aug 2015"), y: 44280 },
                        { x: new Date("1 Sep 2015"), y: 44800 },
                        { x: new Date("1 Oct 2015"), y: 48720 },
                        { x: new Date("1 Nov 2015"), y: 50840 },
                        { x: new Date("1 Dec 2015"), y: 51600 }
                    ]
                }],
                "Returning Visitors": [{
                    color: "#546BC1",
                    name: "Returning Visitors",
                    type: "column",
                    xValueFormatString: "MMM YYYY",
                    dataPoints: [
                        { x: new Date("1 Jan 2015"), y: 22000 },
                        { x: new Date("1 Feb 2015"), y: 26040 },
                        { x: new Date("1 Mar 2015"), y: 25840 },
                        { x: new Date("1 Apr 2015"), y: 23760 },
                        { x: new Date("1 May 2015"), y: 28800 },
                        { x: new Date("1 Jun 2015"), y: 29400 },
                        { x: new Date("1 Jul 2015"), y: 33440 },
                        { x: new Date("1 Aug 2015"), y: 37720 },
                        { x: new Date("1 Sep 2015"), y: 35200 },
                        { x: new Date("1 Oct 2015"), y: 35280 },
                        { x: new Date("1 Nov 2015"), y: 31160 },
                        { x: new Date("1 Dec 2015"), y: 34400 }
                    ]
                }]
            };

            var newVSReturningVisitorsOptions = {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "New VS Returning Visitors"
                },
                subtitles: [{
                    text: "Click on Any Segment to Drilldown",
                    backgroundColor: "#2eacd1",
                    fontSize: 16,
                    fontColor: "white",
                    padding: 5
                }],
                legend: {
                    fontFamily: "calibri",
                    fontSize: 14,
                    itemTextFormatter: function (e) {
                        return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
                    }
                },
                data: []
            };

            var visitorsDrilldownedChartOptions = {
                animationEnabled: true,
                theme: "light2",
                axisX: {
                    labelFontColor: "#717171",
                    lineColor: "#a2a2a2",
                    tickColor: "#a2a2a2"
                },
                axisY: {
                    gridThickness: 0,
                    includeZero: false,
                    labelFontColor: "#717171",
                    lineColor: "#a2a2a2",
                    tickColor: "#a2a2a2",
                    lineThickness: 1
                },
                data: []
            };

            newVSReturningVisitorsOptions.data = visitorsData["New vs Returning Visitors"];
            $("#chartContainer").CanvasJSChart(newVSReturningVisitorsOptions);

            function visitorsChartDrilldownHandler(e) {
                e.chart.options = visitorsDrilldownedChartOptions;
                e.chart.options.data = visitorsData[e.dataPoint.name];
                e.chart.options.title = { text: e.dataPoint.name }
                e.chart.render();
                $("#backButton").toggleClass("invisible");
            }

            $("#backButton").click(function() {
                $(this).toggleClass("invisible");
                newVSReturningVisitorsOptions.data = visitorsData["New vs Returning Visitors"];
                $("#chartContainer").CanvasJSChart(newVSReturningVisitorsOptions);
            });

        }
    </script>
    <style>
        #backButton {
            border-radius: 4px;
            padding: 8px;
            border: none;
            font-size: 16px;
            background-color: #2eacd1;
            color: white;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        .invisible {
            display: none;
        }
    </style>
</head>
<body>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<button class="btn invisible" id="backButton">< Back</button>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>