html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 20%;
    background-color: rgba(114, 155, 255, 0.87);
}
.main{
     width: 100%;
     height: 65%;
 }
.footer{
    width: 100%;
    height: 15%;
    background-color: rgba(67, 26, 139, 0.87);
    text-align: center;
}

.main img {
    width: 100px;
    height: 100px;
}

#approved img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
#approved{
    width: 50%;
    background-color: rgba(0, 128, 0, 0.58);
    border-radius: 5px;
    float:left;
}
#approved div{
    background-color: rgba(43, 84, 44, 0.85);
    border-radius: 5px;
}

#waiting img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#waiting {
    background-color: rgba(255, 0, 0, 0.59);
    border-radius: 5px;
    float:left;
    width: 50%;


}

#waiting div{
    background-color: rgba(255, 0, 0, 0.85);
    border-radius: 5px;
}

#disapprovedObj{
    background-color: rgba(255, 255, 0, 0.6);
    border-radius: 5px;
}

#approvedObj{
    background-color: rgba(255, 255, 0, 0.6);
    border-radius: 5px;
}

#sec>div {
    background-color: rgba(255, 255, 0, 0.44);
    width: 90%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px khaki ;

}
#sec #com {
    background-color: rgba(36, 255, 57, 0.39);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 5px khaki ;
}

